@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Mulish', sans-serif;
  }
}

.card {
  grid-column: span 2;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  @apply shadow-md border rounded-md flex justify-center items-center;
}

.card__face--front {
  @apply bg-gray-400;
}


.card__face--back {
  transform: rotateY(180deg);
}

.card--is-flipped {
  transform: rotateY(180deg);
}